<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Morphing Blob</title>
      <link rel="stylesheet" href="style.scss">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.0/TweenMax.min.js"></script>

</head>

<body>

  <div class="container">
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
  </div>

<!-- Load TweenMax Here -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.0/TweenMax.min.js"></script>
<script  src="./js/index.js"></script>
<script src="simple-example.js"></script>

</body>

</html>
